<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{/fronted/fragments/fragment-index :: head}"> </head>

  <body>
    <div class="container-all">
      <!-- navbar -->
      <nav th:replace="~{/fronted/fragments/fragment-index :: nav}"></nav>
      <!-- end navbar -->
      <div class="container-fluid bg-light px-4 pt-2 rounded-bottom">
        <!-- ads and logo -->
        <div th:replace="~{/fronted/fragments/fragment-index :: logo-ads}"></div>
        <!-- end ads and logo -->
        <!-- marquee text slider -->
        <marquee th:replace="~{/fronted/fragments/fragment-index :: marquee}"> </marquee>
        <!-- end marquee text slider -->
        <div class="row">
          <!-- content -->
          <div class="col-md-9 pe-0">
            <div class="row">
              <div class="col-md-12">
<!--                &lt;!&ndash; Content Top Advertisement Image &ndash;&gt;-->
<!--                <div class="col-md-12 mt-1" th:each="ads : ${adsList}">-->
<!--                  &lt;!&ndash; Check if the ad's local field is 'Content Top' &ndash;&gt;-->
<!--                  <div th:if="${ads.local == 'Content Top'}">-->
<!--                    <a th:href="@{${ads.url}}" target="_blank">-->
<!--                      <img th:src="@{'/ads-image/' + ${ads.image}}" alt="..." class="img-fluid w-100" />-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Content Middle Advertisement Image &ndash;&gt;-->
<!--                <div class="col-md-12 mt-1" th:each="ads : ${adsList}">-->
<!--                  &lt;!&ndash; Check if the ad's local field is 'Content Middle' &ndash;&gt;-->
<!--                  <div th:if="${ads.local == 'Content Middle'}">-->
<!--                    <a th:href="@{${ads.url}}" target="_blank">-->
<!--                      <img th:src="@{'/ads-image/' + ${ads.image}}" alt="..." class="img-fluid w-100" />-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->

                <div class="search-result" style="color : black">
                  <h3>Search Result Found For: <u><span th:text="${keyWord}"></span></u></h3>
                  <p><span th:text="${count}"></span> Results found</p>
                </div>
                <!-- Content -->
                <div class="col-md-12 mt-2" th:each="news : ${newsList}">
                  <a th:href="@{/home/category-detail/{id}(id=${news.id})}" class="no-underline">
                    <div class="row mb-3">
                      <!-- Image Column -->
                      <div class="col-md-3">
                        <img th:src="@{${news.firstImage}}" class="img-fluid rounded" alt="Article Image" style="width: 100%; height: auto" />
                      </div>
                      <!-- Title & Date Column -->
                      <div class="col-md-9 text-dark">
                        <h5 class="text-truncate-2 mb-2" th:text="${news.title}"></h5>
                        <p class="mb-0 text-muted">
                          <small th:text="${#temporals.format(news.createDate, 'dd/MM/yyyy HH:mm')}"></small>
                        </p>
                      </div>
                    </div>
                  </a>
                </div>

<!--                &lt;!&ndash; ads &ndash;&gt;-->
<!--                <div class="col-md-12 my-2" th:each="ads : ${adsList}">-->
<!--                  &lt;!&ndash; Check if the ad's local field is 'Content Top' &ndash;&gt;-->
<!--                  <div th:if="${ads.local == 'Content Bottom'}">-->
<!--                    <a th:href="@{${ads.url}}" target="_blank">-->
<!--                      <img th:src="@{'/ads-image/' + ${ads.image}}" alt="..." class="img-fluid w-100" />-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; ads &ndash;&gt;-->

                <!-- pagination -->
                <div class="col-md-12 text-dark" th:unless="${#lists.isEmpty(newsList)}">
                  <div class="row align-items-center">
                    <div class="col-md-7">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="col-md-5 text-end">
                      <span class="fw-normal">Page 1 of 20</span>
                    </div>
                  </div>
                </div>
                <!-- end pagination -->
              </div>
            </div>
          </div>
          <!-- end content -->

          <!-- side right ads -->
          <div th:replace="~{/fronted/fragments/fragment-index :: sidebar-right-ads}"></div>
          <!--end side right ads -->
        </div>
      </div>
      <!-- footer -->
      <div th:replace="~{/fronted/fragments/fragment-index :: footer}"></div>
      <!-- /footer -->
    </div>
    <!-- jQuery -->
    <script th:replace="~{/fronted/fragments/fragment-index :: scripts}"></script>
    <!-- jQuery -->
  </body>
</html>
