<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/dashboard/fragments/fragment :: head}"></head>

<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div th:replace="~{/dashboard/fragments/fragment :: header}"></div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div th:replace="~{/dashboard/fragments/fragment :: sidebar}"></div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Page Content -->
        <div class="content container-fluid">
            <div class="alert alert-primary alert-dismissible fade show" id="updateAlert" role="alert" th:if="${update}">
                <strong>Update!</strong> <span th:text="${update}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" id="deleteAlert" role="alert" th:if="${delete}">
                <strong>Error!</strong> <span th:text="${delete}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" id="createAlert" role="alert" th:if="${create}">
                <strong>Success!</strong> <span th:text="${create}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-info alert-dismissible fade show" id="activeAlert" role="alert" th:if="${active}">
                <strong>Note!</strong> <span th:text="${active}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" id="warningAlert" role="alert" th:if="${warning}">
                <strong>Warning!</strong> <span th:text="${warning}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Category</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Category</li>
                        </ul>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_category">
                            <i class="fa fa-plus"></i> Add Category</a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row">
                <div class="contact-cat col-sm-4 col-lg-3">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add_contact"><i class="fa fa-plus"></i> Add Contact</a>
                    <div class="roles-menu">
                        <ul>
                            <li class="active"><a href="javascript:void(0);">All</a></li>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Client</a></li>
                            <li><a href="#">Staff</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contacts-list col-sm-8 col-lg-9">
                    <ul class="contact-list">
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-02.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">John Doe</span>
                                    <span class="contact-date">Web Developer</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-09.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Richard Miles</span>
                                    <span class="contact-date">Web Developer</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-10.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">John Smith</span>
                                    <span class="contact-date">Android Developer</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-05.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Mike Litorus</span>
                                    <span class="contact-date">IOS Developer</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-11.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Wilmer Deluna</span>
                                    <span class="contact-date">Team Leader</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-12.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Jeffrey Warden</span>
                                    <span class="contact-date">Web Developer</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-13.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Bernardo Galaviz</span>
                                    <span class="contact-date">Web Developer</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-01.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Lesley Grauer</span>
                                    <span class="contact-date">Team Leader</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-16.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Jeffery Lalor</span>
                                    <span class="contact-date">Team Leader</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="contact-cont">
                                <div class="float-left user-img">
                                    <a href="profile.html" class="avatar">
                                        <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-16.jpg">
                                        <span class="status online"></span>
                                    </a>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-name text-ellipsis">Loren Gatlin</span>
                                    <span class="contact-date">Android Developer</span>
                                </div>
                                <ul class="contact-action">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle action-icon" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#edit_contact">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delete_contact">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        </div>
        <!-- /Page Content -->

        <!-- Add Category Modal -->
        <div id="add_category" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/category/create}" method="POST">
                            <div class="form-group">
                                <label>Category Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="name" name="name" required>
                            </div>
                            <!-- Message Display -->
                            <div id="duplicateMessage" style="display:none; color:red;margin-bottom: 10px;">This name already exists.</div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Index Show <span class="text-danger">*</span></label>
                                <select class="select" name="indexShow" required>
                                    <option>Show 1</option>
                                    <option>Show 2</option>
                                    <option>Show 3</option>
                                    <option>Show 4</option>
                                    <option>Show 5</option>
                                </select>
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn" id="btn-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Category Modal -->

        <!-- Edit Category Modal -->
        <div id="edit_categorys" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/category/update}" method="POST">
                            <input class="form-control"  name="id" type="hidden">
                            <input class="form-control"  name="status" type="hidden">
                            <div class="form-group">
                                <label>Category Name <span class="text-danger">*</span></label>
                                <input class="form-control"  name="name" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Index Show <span class="text-danger">*</span></label>
                                <select class="select" name="indexShow" required>
                                    <option>Show 1</option>
                                    <option>Show 2</option>
                                    <option>Show 3</option>
                                    <option>Show 4</option>
                                    <option>Show 5</option>
                                </select>
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit Category Modal -->

        <!-- Delete Category Modal -->
        <div class="modal custom-modal fade" id="delete_category" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Delete Category</h3>
                            <p>Are you sure want to delete?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6">
                                    <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                </div>
                                <div class="col-6">
                                    <a href="javascript:void(0);" data-dismiss="modal"
                                       class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete Category Modal -->

    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
<!-- jQuery -->
<script th:replace="~{/dashboard/fragments/fragment :: scripts}"></script>
<!-- jQuery -->
<script th:src="@{/assets/js_dashboard/category.js}"></script>
<script>
    $(document).ready(function() {

         $.get("/category/list", function (data) {
            // Clear existing list (if any)
            $("#categoryList").empty();

            // Iterate through the JSON response and create list items
            data.forEach(function (category) {
                $("#categoryList").append(`<li data-id="${category.id}">${category.name}</li>`);
            });
         }).fail(function () {
            alert("Failed to load categories. Please try again.");
         });

         $("#saveOrder").on("click", function () {
            let updatedOrder = [];
            $("#categoryList li").each(function (index) {
                updatedOrder.push({
                    id: $(this).data("id"),
                    orderIndex: index + 1
                });
            });

            $.ajax({
                url: "/categories/updateOrder",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(updatedOrder),
                success: function () {
                    alert("Order updated successfully!");
                },
                error: function () {
                    alert("Failed to update order.");
                }
            });
        });



      // Show the submenu when the parent menu item is hovered over
      $('#main-nav > li').hover(
        function() {
          // On mouse enter, show the submenu
          $(this).children('.submenu').stop(true, true).slideDown(200);
        },
        function() {
          // On mouse leave, hide the submenu
          $(this).children('.submenu').stop(true, true).slideUp(200);
        }
      );

      // Alternatively, for clicking to show submenu
      $('#main-nav > li > a').click(function(e) {
        var $submenu = $(this).siblings('.submenu');
        if ($submenu.length > 0) {
          e.preventDefault(); // Prevent navigation if submenu exists
          $submenu.stop(true, true).slideToggle(200);
        }
      });
    });
</script>


</body>
</html>