<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/dashboard/fragments/fragment :: head}">

</head>

<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div th:replace="~{/dashboard/fragments/fragment :: header}"></div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div th:replace="~{/dashboard/fragments/fragment :: sidebar}"></div>
	<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Edit Article</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
									<li class="breadcrumb-item active">Edit Article</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<form th:action="@{/article/update}" method="POST">
										<input type="hidden" name="id" th:value="${lstdata.id}">
										<div class="form-group">
											<input type="text" placeholder="tittle" class="form-control" name="title" th:value="${lstdata.title}">
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<select class="select" name="cateId" required>
														<option th:each="category : ${lstCategory}"
																th:value="${category.id}"
																th:text="${category.name}"
																th:selected="${category.id == categoryId}">
														</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">

												</div>
											</div>
										</div>
										<div class="form-group">

										</div>
										<div class="form-group">
											<textarea class="form-control summernote" placeholder="Enter your message here" name="content"  th:utext="${lstdata.content}"></textarea>
										</div>
										<div class="form-group">
											<label class="d-block">Marquee:</label>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="statusMarquee" id="show-marquee" value="1"
													   th:checked="${lstdata.statusMarquee == '1'}">
												<label class="form-check-label" for="show-marquee">Show Marquee</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="statusMarquee" id="off-marquee" value="0"
													   th:checked="${lstdata.statusMarquee == '0'}">
												<label class="form-check-label" for="off-marquee">Off Marquee</label>
											</div>
										</div>
										<div class="form-group mb-0">
											<div class="text-center">
												<button class="btn btn-primary" type="submit"><span>Update</span></button>
												<a th:href="@{/article/list-article}" class="btn btn-success m-l-5" type="button"><span>Back</span></a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
		<script th:replace="~{/dashboard/fragments/fragment :: scripts}"></script>
		<!-- Summernote JS -->
		<script th:src="@{/assets/plugins/summernote/dist/summernote-bs4.min.js}"></script>
		<script>
			$(document).ready(function() {
				// Create a style element
				var style = '<style>.note-editable.card-block { height: 100% !important; }</style>';
				// Append the style to the head
				$('head').append(style);
			});
		</script>
    </body>
</html>