<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/dashboard/fragments/fragment :: head}"></head>

<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div th:replace="~{/dashboard/fragments/fragment :: header}"></div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div th:replace="~{/dashboard/fragments/fragment :: sidebar}"></div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Page Content -->
        <div class="content container-fluid">
            <div class="alert alert-primary alert-dismissible fade show" id="updateAlert" role="alert" th:if="${update}">
                <strong>Update!</strong> <span th:text="${update}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" id="deleteAlert" role="alert" th:if="${delete}">
                <strong>Error!</strong> <span th:text="${delete}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" id="createAlert" role="alert" th:if="${create}">
                <strong>Success!</strong> <span th:text="${create}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-info alert-dismissible fade show" id="activeAlert" role="alert" th:if="${active}">
                <strong>Note!</strong> <span th:text="${active}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" id="warningAlert" role="alert" th:if="${warning}">
                <strong>Warning!</strong> <span th:text="${warning}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Sections</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Sections</li>
                        </ul>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_sections">
                            <i class="fa fa-plus"></i> Add Sections</a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-md-12">
                    <div>
                        <table class="table table-striped custom-table mb-0 datatable" id="tableReponse">
                            <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Sections Name</th>
                                <th>Create Date</th>
                                <th>Show Index</th>
                                <th style="width: 150px;">Status</th>
                                <th class="text-right" style="width: 30px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="responses, iterStat : ${lstResponsesData}">
                                    <td th:text="${iterStat.index + 1}"></td> <!-- Display the index + 1 for numbering -->
                                    <td th:text="${responses.name}"></td>
                                    <td th:text="${#temporals.format(responses.createDate, 'dd-MM-yyyy HH:mm a')}"></td>
                                    <td th:text="${responses.indexShow}"></td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa" th:classappend="${responses.status == '1'} ? 'fa-dot-circle-o text-success' : 'fa-dot-circle-o text-danger'"></i>
                                                <span th:text="${responses.status == '1'} ? 'Active' : 'Inactive'"></span>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" th:href="@{/sections/activate/{id}(id=${responses.id})}">
                                                    <i class="fa fa-dot-circle-o text-success"></i> Active
                                                </a>
                                                <a class="dropdown-item" th:href="@{/sections/dis-activate/{id}(id=${responses.id})}">
                                                    <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false">
                                                <i class="material-icons">more_vert</i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item edit-section" href="#" data-toggle="modal"
                                                   data-target="#edit_department" th:attr="data-id=${responses.id}">
                                                    <i class="fa fa-pencil m-r-5"></i> Edit
                                                </a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                   data-target="#delete_department">
                                                    <i class="fa fa-trash-o m-r-5"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->

        <!-- Add Sections Modal -->
        <div id="add_sections" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Sections</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/sections/create}" method="POST">
                            <div class="form-group">
                                <label>Sections Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="name" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Index Show <span class="text-danger">*</span></label>
                                <select class="select" name="indexShow" required>
                                    <option>Show 1</option>
                                    <option>Show 2</option>
                                    <option>Show 3</option>
                                    <option>Show 4</option>
                                    <option>Show 5</option>
                                </select>
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Sections Modal -->

        <!-- Edit Sections Modal -->
        <div id="edit_sections" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Sections</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/sections/update}" method="POST">
                            <input class="form-control"  name="id" type="hidden">
                            <input class="form-control"  name="status" type="hidden">
                            <div class="form-group">
                                <label>Sections Name <span class="text-danger">*</span></label>
                                <input class="form-control"  name="name" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Index Show <span class="text-danger">*</span></label>
                                <select class="select" name="indexShow" required>
                                    <option>Show 1</option>
                                    <option>Show 2</option>
                                    <option>Show 3</option>
                                    <option>Show 4</option>
                                    <option>Show 5</option>
                                </select>
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit Sections Modal -->

        <!-- Delete Sections Modal -->
        <div class="modal custom-modal fade" id="delete_sections" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Delete Sections</h3>
                            <p>Are you sure want to delete?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6">
                                    <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                </div>
                                <div class="col-6">
                                    <a href="javascript:void(0);" data-dismiss="modal"
                                       class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete Sections Modal -->

    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
<!-- jQuery -->
<script th:replace="~{/dashboard/fragments/fragment :: scripts}"></script>
<!-- jQuery -->
<script th:src="@{/assets/js_dashboard/sections.js}"></script>


</body>
</html>